<table class="table">
  <tbody>
  <tr>
    <td>schedule</td>
    <td *ngFor="let v of votes">
      <p>{{v}}</p>
    </td>
  </tr>
<!--  <tr *ngFor="let v of votess">-->
<!--     <td>status</td>-->
<!--    <td  *ngFor="let v1 of v.votes">-->
<!--    <p>{{v1.status}}</p>-->
<!--    </td>-->
<!--  </tr>-->
  <tr>
     <td>comment</td>
    <td  *ngFor="let v of votess">
    <p>{{v}}</p>
    </td>
  </tr>
  <tr>
     <td>comment</td>
    <td  *ngFor="let v of votesss">
    <p>{{v}}</p>
    </td>
  </tr>

  </tbody>
</table>
