<table class="table">
  <thead class="table-dark">
  <tr>
    <th>name</th>
    <th>detail</th>
    <th>time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of eventts">
    <th>{{e.name}}</th>
    <th>{{e.detail}}</th>
    <th>{{e.time}}</th>
  </tr>
  </tbody>
</table>
<!--<div id="1" class="item new col-md-4" *ngFor="let eventt of eventts">-->
<!--    <div class="featured-item">-->
<!--      <h4>{{eventt.name}}</h4>-->
<!--      <h6>${{eventt.detail}}</h6>-->
<!--      <h6>${{eventt.time}}</h6>-->
<!--    </div>-->
<!--</div>-->
