<form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
  <table>
    <tr>
      <td>name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>detail: </td>
      <td><input type="text" formControlName="detail"></td>
    </tr>
    <tr>
      <td>time: </td>
      <td><input type="datetime-local" formControlName="time"></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Cập nhật</button> <button routerLink="/findEvent">Thoát</button></td>
    </tr>
  </table>
</form>
